* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

body {   
    background-color: white;
}

#login, #criar-conta {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
}

form h3 {
    text-align: center;
    color: rgb(41, 106, 247);
}

form input[type=text],
form input[type=password] {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(41, 106, 247);
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
}

form input[type=submit], button {
    width: 100%;
    height: 38px;
    border-radius: 6px;
    cursor: pointer;
    background: rgb(41, 106, 247);
    color: #fff;
    border: 0;
}

#login button {
    background: green;
    margin-top: 10px;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#login p {
    text-align: center;
    margin: 10px;
}

#login div {
    border-bottom: 1px solid black;
    align-items: center;
}

#criar-conta {
    box-shadow: 10px 10px 20px rgb(53, 53, 53);
}

#criar-conta form input[type=submit] {
    background-color: green;
}

/* Pontos de Quebras */
@media (min-width: 900px) {
    body {
        background-color: gray;
    }
    
    #login, #criar-conta {
        border-radius: 6px;
        width: 50%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}