#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    background: rgba(0, 0, 0, 0);
 }
 #overflow {
    /* width: 100px;   */
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    width: 120px;
    height: 110px;
 }

 #slides #inner {
    display: flex;
    transition: margin-left 800ms;
    width: 600px;
    line-height: 0;
    height: 100px;
 }
.slide  {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

.slide img {
    border-radius: 50%;
    margin: 10px;
    width: 100px;
}

#previous {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
}

#next {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
}

 /* #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 50px;
    display: block;
 } */