* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --border-radius: 15px;
}

body {   
    background-color: rgb(175, 175, 175);
}

.cabecalho {
    background-color: white;
    padding: 10px;
}

.cabecalho img {
    width: 50px;
}

.aulas {
    margin: 10px;
    background-color: gray;
    padding: 10px;
    border-radius: var(--border-radius);
}

.aulas > div > div h3, h2, h4 {
    text-align: center;
}

.aulas > div > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aulas > div > div > div button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
}

#situacao {
    color: red;
}

/* #img-previous {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    opacity: 0.8;
} */

#img-ao-vivo {
    border: solid 5px rgba(255, 0, 0, 1);
    animation: ao-vivo 1s infinite alternate;
    width: 100px;
}

/* #img-next {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    opacity: 0.8;
} */

.aulas > div > div img {
    border-radius: 50%;
}

@keyframes ao-vivo {
    from {
        border: solid 5px rgba(255, 0, 0, 0);
    }
    to {
        border: solid 5px rgba(255, 0, 0, 0.5);
    }
  }

.aulas > div > div button {
    width: 150px;
    margin-top: 25px;
    border-radius: var(--border-radius);
    background-color: rgb(0, 158, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.aulas > h1 {
    text-align: center;
    margin-bottom: 10px; 
}